<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View {{activity.creator.first_name}}'s Activity</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/one_view.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body class="bg-secondary bg-gradient bg-opacity-10">
    <!-- main wrapper -->
    <main>
        <!-- hamburger menu -->
        <nav role='navigation'>
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="/getoutside"><li>Home</li></a>
                    <a href="/getoutside/athlete"><li>My Profile</li></a>
                    <a href="/getoutside/activities/new"><li>Add Activity</li></a>
                    <a href="/getoutside/friends"><li>Find Friends</li></a>
                    <a href="/logout"><li>Log-Out</li></a>
                </ul>
            </div>
        </nav>
        <!-- end hamburger menu -->
        <!-- logo bar -->
        <div>
            <img class="logo" src="https://live.staticflickr.com/65535/52792585959_75b5df6be8_h.jpg" alt="getOUTSIDE">
        </div>
            <!-- page title -->
        <div class="user">
            <h1 class="green">Get OUTSIDE with {{activity.creator.first_name}} and go {{activity.activity}}!</h1>
        </div>
        <!-- Activities Container -->
        <div class="activity_container">
            <!-- Right Box -->
            <div class="right_box">
                <!-- top of details box -->
                <div class="top">
                    <!-- title and button-->
                    <div class="flex">
                        <h4 class="green">Details</h4>
                        <div class="buttons">
                            {% if activity.creator.id == session.user_id %}
                            <a class="btn btn-secondary rounded-2 m-2 border-2 border-dark text-decoration-none text-light" href="/getoutside/activity/{{activity.id}}/edit" role="button">EDIT</a>
                            <a class="btn btn-danger rounded-2  m-2 border-2 border-dark text-decoration-none text-light" href="/getoutside/activity/{{activity.id}}/delete" role="button">DELETE</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- activity deets -->
                    <p class="green">What I'm Doing: <span class="black">{{activity.activity}}</span></p>
                    <p class="green">When: <span class="black">{{activity.date.strftime("%B %e, %Y")}}</span></p>
                    <p class="green">Where: <span class="black">{{activity.location}}</span></p>
                    <!-- end activity deets -->
                </div>
                <!-- end top of details box --> 
                <!-- bottom of details section -->
                <div class="bottom">
                    <!-- image container of all images by sport -->
                    <div class="image_box"> 
                        <!-- Activities image Container -->
                        {% if activity.activity == "Climbing" %}
                        <img class="image" src="https://images.squarespace-cdn.com/content/v1/571c6da9f8508283c1fb8d9f/1639115620769-MOEH3BRXM5EU2EMD8W3R/Smith+Beautiful+Silo.jpeg" alt="Hiking">
                        
                        {% elif activity.activity == "Cycling" %}
                        <img class="image" src="https://images.immediate.co.uk/production/volatile/sites/21/2019/03/1340198123738-102yckxqtkev8-1000-100-a982bfa.jpg?quality=90&resize=768,574" alt="Cycling">
                        
                        {% elif activity.activity == "Mtn. Biking" %}
                        <img class="image" src="https://traveloregon.com/wp-content/uploads/2020/06/2020_mtnbike_bend_bachelor_01.jpg" alt="Mtn. Biking">
                        
                        {% elif activity.activity == "Golfing" %}
                        <img class="image" src="https://edgewoodtahoe.com/wp-content/uploads/2020/06/golf-group-hero.jpg" alt="Golfing">
                        
                        {% elif activity.activity == "Hiking" %}
                        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Hiking_to_the_Ice_Lakes._San_Juan_National_Forest%2C_Colorado.jpg/1200px-Hiking_to_the_Ice_Lakes._San_Juan_National_Forest%2C_Colorado.jpg" alt="Hiking">
                        
                        {% elif activity.activity == "Paddling" %}
                        <img class="image" src="https://theworldpursuit.com/wp-content/uploads/2020/08/best-inflatable-sup-scaled.jpeg" alt="Paddling">
                        
                        {% elif activity.activity == "Rowing" %}
                        <img class="image" src="https://hips.hearstapps.com/hmg-prod/images/u8a6460-1626876679.jpg" alt="Rowing">
                        
                        {% elif activity.activity == "Running" %}
                        <img class="image" src="https://centralorthopedicgroup.com/wp-content/uploads/2018/03/outdoor-running.jpg" alt="Running">
                        
                        {% elif activity.activity == "Skiing" %}
                        <img class="image" src="https://coresites-cdn-adm.imgix.net/mpora_new/wp-content/uploads/2016/07/SkiWords.jpg?fit=crop" alt="Skiing">
                        
                        {% elif activity.activity == "Snowboarding" %}
                        <img class="image" src="https://kdvr.com/wp-content/uploads/sites/11/2021/11/1040x585-2021-1109-skiing-vs-snowboarding-which-is-best-for-beginners-135db8.jpg?w=1280" alt="Snowboarding">
                        
                        {% elif activity.activity == "Snowshoeing" %}
                        <img class="image" src="https://www.milwaukeemag.com/wp-content/uploads/2023/01/0123-Explore-Snowshoe-GettyImages-519694857.jpg" alt="Swimming">
                        
                        {% elif activity.activity == "Swimming" %}
                        <img class="image" src="https://images.unsplash.com/photo-1438029071396-1e831a7fa6d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3dpbW1pbmd8ZW58MHx8MHx8&w=1000&q=80" alt="Swimming">
                        {% endif %}
                    <!-- END Activities image Container -->
                    </div>
                    <!-- google MAP -->
                    <iframe
                        style="border:2px solid green"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBaBIHsgFp640ZtHCw1l2j7SxP4nVPSFLE
                        &q={{activity.location}} ">
                    </iframe>
                    <!-- end google MAP -->
                </div>
                <!-- end bottom of details section -->
            </div>
            <!-- end Left box -->
            <!-- Right Box -->
            <div class="left_box">
                <!-- title and button -->
                <div class="flex">
                    <h4 class="green">Who's going:</h4> 
                    <!-- if attenders list is empty make a join button -->
                    {% for attendee in activity.attenders if session.user_id == attendee.id and session.user_id != activity.creator.id -%}
                        {% else %}
                            {% if activity.creator.id != session.user_id %}
                                <a class="btn btn-success rounded-2 border-2 border-dark text-decoration-none text-light" href="/getoutside/activity/{{activity.id}}/join2" role="button">I'M IN!</a>
                            {%endif%}
                    {%- endfor %}        
                </div>
                <div class="activity_links">
                {% for attendee in activity.attenders %}
                    {% if attendee.id == session.user_id %}
                    <div class="flex">
                        <h5 class="green">{{attendee.first_name}} {{attendee.last_name}}</h5>
                        <a class="btn btn-success rounded-2 border-2 border-dark text-decoration-none text-light"  href="/getoutside/activity/{{activity.id}}/unjoin"   role="button">PASS</a>
                    </div>
                    {% else %}
                        {% if attendee.first_name == None %}
                        {%else%}
                            <p>
                                <a class="green2" href="/getoutside/athlete/{{attendee.id}}"> {{attendee.first_name}} {{attendee.last_name}} </a>
                            </p>    
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- <div class="comments">
                    <h4 class="green">Comments:</h4> 
                    <div class="activity_links">
                        <p>comments go here!!!</p>
                    </div>
                </div>
                -->
            </div>
            <!-- End Right Box -->
        </div>
        <!-- end activities container -->
    </main>
<!-- End Main -->
</body>