<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{user.first_name}}'s Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/update.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>


<body class="bg-secondary bg-gradient bg-opacity-10">

    <!-- main wrapper -->
    <main>
        <!-- end hamburger nav -->
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="/getoutside">Home</a></li>
                <li><a class="menu__item" href="/getoutside/athlete">My Profile</a></li>
                <li><a class="menu__item" href="/getoutside/activities/new">Add Activity</a></li>
                <li><a class="menu__item" href="/getoutside/friends">Find Friends</a></li>
                <li><a class="menu__item" href="/logout">Log Out</a></li>
            </ul>
        </div>
        <!-- end hamburger nav -->
        <!-- logo bar -->
        <div>
            <img class="logo" src="https://live.staticflickr.com/65535/52792585959_75b5df6be8_h.jpg" alt="getOUTSIDE">
        </div>
        <!-- edit form start-->
        <form class="form_container" action="/getoutside/athlete/update" method="POST">
            <!-- title  -->
            <h1 class="title_text">Update {{user.first_name}}'s Information</h1>
                <!-- validation error message -->
                {% with messages = get_flashed_messages(category_filter=["update"]) %}
                    <!-- declare a variable called messages -->
                    {% if messages %}
                        <!-- check if there are any messages -->
                        {% for message in messages %}
                            <!-- loop through the messages -->
                            <p class="error">{{message}}</p> <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- validation error message -->
            <!-- input 1 -->
            <div class="input_control">
                <!-- hidden id -->
                <input type="hidden" name="id" value="{{user.id}}">
                <!-- First Name -->
                <label for="first_name">Update First Name</label>
                <input type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" >
            </div>
            <!-- end input 1 -->
            <!-- input 2 -->
            <div class="input_control">
                <!-- Last Name -->
                <label for="last_name">Update Last Name</label>
                <input type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" >
            </div>
            <!-- end input 2 -->
            <!-- input 3 -->
            <div class="input_control">
                <!-- number of boxes -->
                <label for="email">Update Email</label>
                <input type="email" name="email" placeholder="email" value="{{user.email}}">
            </div>  
            <!-- end input 3 -->
            <!-- buttons -->
            <div class="button_control">
                <!-- submit button -->
                <a href="/getoutside/athlete" class="btn btn-sm bg-success border border-1 border-dark text-light" role="button">CANCEL</a>
                <input class="btn btn-sm bg-primary border border-1 border-dark text-light " type="submit" value="UPDATE">
                <a href="/getoutside/athlete/delete" class="btn btn-sm bg-danger border border-1 border-dark text-light" role="button">DELETE</a>
            </div>
            <!-- end buttons -->
        </form>
        <!-- end form -->

        <!-- <form  class="border border-2 border-success rounded rounded-2 w-25 m-auto mt-5 p-3 bg-gradient bg-dark bg-opacity-10" action="/getoutside/addimage" method="POST" enctype="multipart/form-data">
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages%}
                                <p class="error">{{ message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </p>
            <input type="file" name="file" autocomplete="off" required class="form-control">
            <div class="text-center m-1">

                <input class="btn btn-sm bg-warning border border-1 border-dark" type="submit" value="Add Image">
                <a href="/getoutside/athlete" class="btn btn-sm bg-success border border-1 border-dark" role="button">Return To Profile</a>
            </div>
        </form> -->
    </main>

</body>
</html>