<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-secondary bg-gradient bg-opacity-10">

    <!-- logo bar -->
    <div>
        <img class="logo" src="https://live.staticflickr.com/65535/52792585959_75b5df6be8_h.jpg" alt="getOUTSIDE">
    </div> 
    <!-- main wrapper -->
    <main>
        <!-- content wrapper -->
        <div class="content">
            <!-- welcome title -->
            <div class="welcome">
                <h1>Welcome {{user.first_name}}, &nbsp; </h1>
                <h6 class="time">It's time to</h6>
                <h2 class="outside">Get OUTSIDE!</h2>    
            </div>
            <button class="profile_button bg-danger p-1 rounded-2"><a href="/logout" class="text-decoration-none text-light">LOG OFF AND GET OUTSIDE</a></button>
            <!-- end welcome title -->
            <!-- main wrapper -->
            <div class="wrapper">
                <!-- top row -->
                <div class="flex">
                    <h5 class="green">See what everyone is up to!</h5>
                    <button class="bg-primary m-1 p-1 opacity-75 rounded-2"><a href="/getoutside/athlete" class="text-decoration-none text-light">VIEW PROFILE</a></button>
                </div>
                <!-- bottom row -->
                <div class="flex">
                    <h6>(click on activities to view details)</h6>
                    <button class="bg-success m-1 p-1 opacity-75 rounded-2"><a href="/getoutside/friends" class="text-decoration-none text-light">FIND FRIENDS</a></button>
                </div>
                <!-- table -->
                <table class="activity_table">
                    <tr>
                        {% for activity in activities %}
                        {% if session.user_id != activity.attendee.id  %}
                        <h3>{{activity.attendee.first_name}}</h3>
                        {% endif %}
                        {% endfor %}

                    <!-- loop through activities -->
                    {% for activity in activities %}
                    <!-- filter logged in user -->
                    {% if session.user_id  != activity.attendee.id  %}
                        <!-- display data -->
                        <td>   
                            <a class="activity_link" href="/getoutside/activity/{{activity.id}}"> {{activity.creator.first_name}} {{activity.creator.last_name}} is going {{activity.activity}} at {{activity.location}} on {{activity.date.strftime("%B %e, %Y")}} </a>
                        </td> 
                        <!-- display join button -->
                        <td>
                            {% if session.user_id == activity.activity_id  %}
                                <button class="bg-danger m-1 p-1 opacity-75 rounded-2"><a class="text-decoration-none text-light" href="/getoutside/activity/{{activity.id}}/unjoin">I'M OUT!</a></button>
                            {% else   %}
                                <button class="bg-success m-1 p-1 opacity-75 rounded-2"><a class="text-decoration-none text-light" href="/getoutside/activity/{{activity.id}}/join">JOIN!</a></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <!-- Table END -->
            </div>
        </div>
        <!-- End Contend Wrapper -->
    </main>
    <!-- End Main Wrapper -->
</body>
</html>