<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What Are You Looking For</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            background-color: black;
            background-image: url(https://as1.ftcdn.net/v2/jpg/02/34/57/94/1000_F_234579423_z4ij9LybSHzJs0fgwzdq1E1ut9rK2mfr.jpg);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class=" m-5 text-light">
        <h3>Looks like your "search" brought you here</h1>
        <p class="fs-3">what are you looking for??</p>
        <a href="/logout" class="btn btn-sm bg-light bg-opacity-75 border border-1 border-dark m-1" role="button">Escape</a>
    </div>
</body>
</html>