*{
    margin: 0;
    padding: 0;
}

.menu_trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 14.5%;
    left: -42px;
    height: 45px;
    width: 90px;
    padding-top: 19px;
    transform: rotate(270deg);
    cursor: pointer;
    border-left: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 3px solid green;
    border-radius: 0 0 5px 5px ;
    background-color: honeydew;
    text-decoration: none;
    color: green;
    font-weight: 700;
    z-index: 99;
}

@media (min-width:499px) {
    .menu_trigger{
        left: -30px;
        padding-top: 10px;
        top:15%;
        transition: .4s;
    }
}

@media (min-width:767px) {
    .menu_trigger{
        top:18%;
        transition: .4s;
    }
}

@media (min-width:991px) {
    .menu_trigger{
        top:24%;
        transition: .4s;
    }
}

@media (min-width:1200px) {
    .menu_trigger{
        top:28%;
        transition: .4s;
    }
}

.menu_trigger:hover {
    color:#6b0f1a;
    box-shadow: 0px 0px 30px 3px rgb(153, 134, 109);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.menu_close{
    position: relative;
    top: 5px;
    left: 325px;
    color: #6b0f1a;
}

.menu_close:hover {
    color: red;
    text-shadow: 3px -3px 25px rgba(0,128,0,.8);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.menu_close:active {
    top:8px;
    transition: all 0.1s ease-in;
}

.offcanvas, #offcanvasExample.offcanvas-start.show {
    margin-top: 3%;
    height: 255px;
    background-color: honeydew;
    border-top: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 3px solid green;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 0px 40px 5px rgb(153, 134, 109);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.menu__box {
    padding: 10px;
    margin: 0;
    list-style: none;
    width: 80%;
}

.menu__item {
    margin: 0;
    display: block;
    padding: 10px 0 10px 45px ;
    color: green;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
    color: #6b0f1a;
    text-shadow:0px 0px 30px green;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}